spring:
  application:
    name: Gateway
  config:
    import: configserver:http://localhost:8082
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: PRODUCT-SERVICE
              uri: http://localhost:8083
              predicates:
                - Path=/product/**
            - id: CART-SERVICE
              uri: http://localhost:8086
              predicates:
                  - Path=/cart/**
            - id: USER-SERVICE
              uri: http://localhost:8085
              predicates:
                  - Path=/user/**
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-atfpp36qj24tzo8l.us.auth0.com/

server:
  port: 9090
