my:
  frontend:
    url: ${FRONTEND_URL:localhost:8090}

spring:
  application:
    name: Gateway
  config:
    import: configserver:http://${CONFIG_SERVER_URL:localhost:8082}
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: PRODUCT-SERVICE
              uri: http://product-service-svc
              predicates:
                - Path=/product/**
            - id: CART-SERVICE
              uri: http://cart-service-svc
              predicates:
                  - Path=/cart/**
            - id: USER-SERVICE
              uri: http://user-service-svc
              predicates:
                  - Path=/user/**
            - id: CART-SERVICE
              uri: http://cart-service-svc
              predicates:
                  - Path=/cart/**
            - id: ORDER-SERVICE
              uri: http://order-service-svc
              predicates:
                  - Path=/order/**
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-atfpp36qj24tzo8l.us.auth0.com/

server:
  port: 9090
