my:
  frontend:
    url: ${FRONTEND_URL:http://localhost:8090}

spring:
  application:
    name: Gateway
  config:
    import: configserver:http://${CONFIG_SERVER_URL:localhost:8082}
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: PRODUCT-SERVICE
              uri: http://product-service-svc
              predicates:
                - Path=/product/**
              filters:
                - name: CircuitBreaker
                  args:
                    id: PRODUCT-SERVICE
                    fallbackUri: forward:/productServiceFallback
            - id: CART-SERVICE
              uri: http://cart-service-svc
              predicates:
                  - Path=/cart/**
              filters:
                - name: CircuitBreaker
                  args:
                    id: CART-SERVICE
                    fallbackUri: forward:/cartServiceFallback
            - id: USER-SERVICE
              uri: http://user-service-svc
              predicates:
                  - Path=/user/**
              filters:
                - name: CircuitBreaker
                  args:
                    id: USER-SERVICE
                    fallbackUri: forward:/userServiceFallback
            - id: ORDER-SERVICE
              uri: http://order-service-svc
              predicates:
                  - Path=/order/**
              filters:
                - name: CircuitBreaker
                  args:
                    id: ORDER-SERVICE
                    fallbackUri: forward:/orderServiceFallback
            - id: REVIEW-SERVICE
              uri: http://review-service-svc
              predicates:
                - Path=/review/**
              filters:
                - name: CircuitBreaker
                  args:
                    id: REVIEW-SERVICE
                    fallbackUri: forward:/reviewServiceFallback
            - id: NOTIFICATION-SERVICE
              uri: http://${my.url}:8088
              predicates:
                - Path=/notifications/**
              filters:
                - name: CircuitBreaker
                  args:
                    id: NOTIFICATION-SERVICE
                    fallbackUri: forward:/notificationServiceFallback
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-atfpp36qj24tzo8l.us.auth0.com/

server:
  port: 9090

management:
  endpoint:
    health:
      probes:
        enabled: true